@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Airbnb Cereal";
	src: url("/fonts/airbnb-cereal-font/AirbnbCereal_W_Lt.otf")
		format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Airbnb Cereal";
	src: url("/fonts/airbnb-cereal-font/AirbnbCereal_W_Bk.otf")
		format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Airbnb Cereal";
	src: url("/fonts/airbnb-cereal-font/AirbnbCereal_W_Md.otf")
		format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Airbnb Cereal";
	src: url("/fonts/airbnb-cereal-font/AirbnbCereal_W_Bd.otf")
		format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Airbnb Cereal";
	src: url("/fonts/airbnb-cereal-font/AirbnbCereal_W_Xbd.otf")
		format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Airbnb Cereal";
	src: url("/fonts/airbnb-cereal-font/AirbnbCereal_W_Blk.otf")
		format("opentype");
	font-weight: 900;
	font-style: normal;
}

body {
	@apply font-cereal;
}

.faq-answer a {
	@apply text-gray-600 underline font-medium;
}

.leaflet-container {
	width: 100%;
	height: 100%;
}

.price-marker {
	display: flex;
	align-items: center;
	justify-content: center;
}

.leaflet-popup-content p {
	margin: 0 !important;
}

.leaflet-popup-content {
	margin: 0 !important;
}

.leaflet-container a.leaflet-popup-close-button {
	background: #fcf9f9 !important;
	border-radius: 12px;
	top: 5px !important;
	right: 5px !important;
}

.react-multiple-carousel__arrow {
	background: white !important;
	min-width: 27px !important;
	min-height: 27px !important;
}

.react-multiple-carousel__arrow::before {
	color: black !important;
	font-size: 12px !important;
}
